<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 	<html lang="en"> <!--<![endif]-->
<head>

	<!-- General Metas -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	<!-- Force Latest IE rendering engine -->
        {% block title %}
	<title>DataBase Acl</title>{% endblock %}
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	{% block stylesheets %}
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ asset('bundles/applicationacl/css/base.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/applicationacl/css/skeleton.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/applicationacl/css/layout.css') }}">
	{% endblock %}
</head>
<body>
    {% block body %}
	<!-- Primary Page Layout -->
        
        

	<div class="container">
		
              {% block content %}
		
              {% endblock %}
	</div><!-- container -->
{% block scripts%}
	<!-- JS  -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='{{ asset("bundles/application/acl/js/jquery-1.5.1.min.js" ) }}'>\x3C/script>")</script>
	<script src="{{ asset('bundles/applicationacl/js/app.js') }}"></script>
{% endblock %}
<!-- End Document -->

{% endblock %}
</body>
</html>